/*CSS for Blogs*/
.blog-section {
  padding-top: 120px;
}

.blog-post-section {
  padding-bottom: 30px;
}

.blog-content-section a {
  color: #d32626;
  &:hover {
    color: #d32626;
  }
}

.blog-title-section {
  color: #d32626;
  font-size: 120%;
  margin-bottom: 10px;
}

.blog-date-section {
  line-height: 30px;
  padding: 10px 10px 10px 10px;
  background-color: #d32626;
  color: #fff;
}

.blog-closing-section {
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
}

#blog-content-wrapper {
  margin-bottom: 30px;
  p {
    margin-left: 0px;
  }
}