<div id="fullpage">
  <div class="section" id="frontPage">
    <div class = "container">
      <h1>Avinash Vallabhaneni</h1>
      <h3>Full-stack web developer. MS in CSE @ ASU
    </div>
  </div>
  <div class="section" id="secondPage">
    <div class = "container">
      Some section2
    </div>
  </div>
</div>
