<% colors_select_options = [] %>
<% for i in 0..10 %>
  <% colors_select_options.push([i]) %>
<% end %>
<h1>Color Palette - Simple ruby gem for generating a palette of colors</h1>
<%= form_tag({:controller => "palette", :method => :get},{:class => "form-inline"}) do%>
  <div class="form-group">
    <label class="sr-only" for="colors">Number of colors</label>
    <%=  select_tag :colors, options_for_select(colors_select_options, params[:id]) , :class => 'form-control'%>
  </div>
  <%= button_tag "Update Palette", :class => 'btn btn-primary' %>
<% end %>
</br></br>
<% @colors = @colors.each_slice(3).to_a %>  
<% @colors.each do |colors_three|%>
  <div class = "row" style="height: 200px">
    <% colors_three.each do |color| %>
      <div class="col-md-2" style="height: 200px; background-color: <%= color['hex'] %>" ></div>
    <% end %>  
  </div>
<% end %>
