<!DOCTYPE html>
<html>
<head>
  <title>ExciteCode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top" id="site-header" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">ExciteCode</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="../getting-started">Blog</a>
        </li>
        <li class="active">
          <a href="../css">Contributions</a>
        </li>
        <li>
          <a href="../components">About Me</a>
        </li>
        <li>
          <a href="../javascript">Resume</a>
        </li>
      </ul>
    </nav>
  </div>
  </header>
  <div id = "main-container" class = "container">
  <%= yield %>
  </div>
  <footer id="site-footer">
    <div class="container-fluid">
      <p>&#169;ExciteCode.com</p>
    </div>
  </footer>
</body>
</html>
